.sliderEventsDate {
  display: flex;
  gap: 110px;
  align-content: center;
  justify-content: center;
}

.beginDate,
.endDate {
  font: var(--font-xxl);
  letter-spacing: -4px;
}

@media (max-width: 500px) {
  .sliderEventsDate {
    gap: 40px;
  }
  .beginDate,
  .endDate {
    font: var(--font-xl-mobile);
    letter-spacing: -4px;
  }
}

.beginDate {
  color: var(--color-blue);
}
.endDate {
  color: var(--color-pink);
}
