.sliderWrapper {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

.btnPrev,
.btnNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.btnPrev {
  left: -60px;
}

.btnNext {
  right: -60px;
}
