.sliderWrapper {
  width: 1260px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 500px) {
  .sliderWrapper {
    width: 100vw;
    position: absolute;
    left: 0;
  }
  .swiperContainer {
    min-width: 100%;
    padding-left: clamp(
      var(--padding),
      calc((100vw - 274px) / 2),
      calc((100vw - 274px) / 2)
    );
  }
}

.btnPrev,
.btnNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.btnPrev {
  left: -60px;
}

.btnNext {
  right: -60px;
}
